<h1 class="mb-5">Clientes</h1>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/new">
    Novo Cliente
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data</th>
        <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @for (customer of customers; track customer.id) {
        <tr >
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.cpf }}</td>
            <td>{{ customer.dateOfBirth | date:'dd/MM/yyyy' }}</td>
            <td>{{ customer.email }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary" [routerLink]="[customer.id, 'edit']">Editar</button>
                <button class="btn btn-danger">Deletar</button>
              </div>
            </td>
        </tr>
    }
  </tbody>
</table>
